# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS hidden files
.DS_Store

# Editor backup files
*~
*.swp
.idea/
.vscode/

# Log files
*.log

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
